# Django
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Email backend
# For development:
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend #for real eamil comment this and uncomment below

# For real email sending (SMTP), uncomment/configure below:
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com #use your email address here 
EMAIL_HOST_PASSWORD=your_app_password # For Gmail, you need to generate an app password if you have 2FA enabled. Use that app password here instead of your regular email password.

# AuthX
AUTHX_OTP_LENGTH=6 #number of digits in the OTP! You can change this as per your requirement
AUTHX_OTP_EXPIRY_MINUTES=10 # Time in minutes after which the OTP will expire. You can adjust this based on your security needs.
AUTHX_OTP_SUBJECT=Verify your email # Subject line for the OTP email
AUTHX_OTP_FROM_EMAIL=your_email@gmail.com #use the same email as EMAIL_HOST_USER for consistency
AUTHX_LOGIN_REQUIRE_VERIFIED=True
AUTHX_ALLOW_LOGIN=True
AUTHX_USE_PACKAGE_USER_MODEL=True