# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/

# Build artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db